<!DOCTYPE html>
<html>
<header>
    <style>
    body{
      background-color:rgb(48, 45, 45);
    }

    </style>
</header>
<body>
    <div style="margin-left: 500px; margin-top:50px ; ">
        <label style="color: white;font-size:45px ;">Welcome,{{username}} ! </label>

    </div>



<div>
    <button style="color: black; background-color: rgb(219, 157, 171);border-radius:20px ;width: 500px;height:70px ; margin-top: 150px; margin-left:400px ; font-size: 35px;">New Meeting</button>
</div>
<div>
    <button style="color: black; background-color: rgb(219, 157, 171);border-radius:20px ;width: 500px;height:70px ; margin-top: 30px; margin-left:400px ; font-size: 35px;">Join Meeting</button>
</div>
<div>
    <button style="color: black; background-color: rgb(219, 157, 171);border-radius:20px ;width: 500px;height:70px ; margin-top: 30px; margin-left:400px ; font-size: 35px;">Logout</button>
</div>

</body>

</html>