<!DOCTYPE html>
<html>
<header>
    <style>
    body{
      background-color:rgb(48, 45, 45);
    }

    </style>
</header>
<body>
  




    
    <input placeholder="Enter roomID" style="color: black; background-color: rgb(219, 157, 171);border-radius:20px ;width: 500px;height:70px ; margin-top: 150px; margin-left:400px ; font-size: 35px;">
    <div>
        <button style="color: black; background-color: rgb(219, 157, 171);border-radius:20px ;width: 200px;height:70px ; margin-top: 30px; margin-left:500px ; font-size: 25px;"><a href="{% url 'meeting'%}" style="text-decoration: none;">Join</a></button>
    </div>
    


</body>

</html>